@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: local('Montserrat'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYMDdSZkkecOE1hvV7ZHvhyU.ttf)   format('truetype');
}*/

body {
    margin: 0 0;
    padding: 0 0;
}

.flexvert {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    align-items: center;
    
    justify-content: center;
    -webkit-justify-content: center;
    
    flex-direction: column;
    -webkit-flex-direction: column;
    
    flex-pack: justify;
    
    position: relative;
    z-index: 3;
}

.splash {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    background-image: url(../images/imacsplashblacker.png);
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    
    -webkit-box-shadow: 0px -100px 100px 0px #111 inset;
    -moz-box-shadow: 0px -100px 100px 0px #111 inset;
    box-shadow: 0px -100px 100px 0px #111 inset;
}

.title {
    margin:20%;
}

.wwd {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    background-size: cover;
    background-color: #111;
    height: 100%;
    width: 100%;
    
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.flexhorz {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    align-items: center;
    
    justify-content: center;
    -webkit-justify-content: center;
    
    flex-direction: row;
    -webkit-flex-direction: row;
    
    z-index: 0;
    
    position: relative;
}

.descriptleft {
    display: block;
    text-align: right;
    margin-right: 10%;
    width: 25%;
}

.icon {
    height: 100px;
    width: 100pp;
    border-radius: 15px;
}

.descriptright {
    display: block;
    text-align: left;
    margin-left: 10%;
    width: 25%;
}


.deflector {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.snappr {
    color: #fff;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.hexacolors {
    color: #fff;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.smith {
    color: #fff;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.viewzik {
    color: #fff;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.sebastian {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.josh {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.avery {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.ryan {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.planning {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.building {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.publishing {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.marketing {
    color: #000;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    width: 100%;
    z-index: 2;
}




*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i {
    color: #e74c3c;
}

p {
    font-family: 'Lato';
    font-size: 1em;
    text-align: left;
    margin: 0 0;
    font-weight: 100;
    color: inherit;
}

h1 {
    font-size: 2em;
    letter-spacing: 50px;
    text-align:  center;
    margin: 0 0;
    font-weight: 100;
    color: #e74c3c;
}

h2 {
    font-size: 2.5em;
    text-align:  right;
    margin: 0 0;
    font-weight: 100;
    color: #e74c3c;
}


h3 {
    font-size: 2em;
    text-align: center;
    margin: 0 0;
    font-weight: 100;
    color: #e74c3c;
}

h4 {
    font-size: 1.75em;
    text-align: center;
    margin: 0 0;
    font-weight: 800;
}


.container {
    align-content: center;
    text-align: center;
}

.noflexzone {
    display: flex;
    /*-webkit-display: -webkit-box;*/
    -webkit-display: -webkit-flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 30px 30px 90px 30px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	bottom: 22px;
	left: 50%;
	z-index: 100;
	display: block;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger a:focus {
    outline: 0 !important;
    border: none;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bt-menu-open .bt-menu-trigger span {
	background-color: #e74c3c;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after {
	background-color: #e74c3c;
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-350%);
	transform: translateY(-350%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(350%);
	transform: translateY(350%);
}

.bt-menu ul {
	position: fixed;
	bottom: 0px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	white-space: nowrap;    
    outline: none;
	height: 0;
	-webkit-transition: height 0s 0.3s;
	transition: height 0s 0.3s;
}

.bt-menu.bt-menu-open ul {
	height: 90px;
	-webkit-transition: none;
	transition: none;
}

.bt-menu ul li,
.bt-menu ul li a {
	text-align: center;
}

.bt-menu ul li {
	display: inline-block;
	margin: 0 2%;
	width: 5%;
	height: 90px;
	line-height: 90px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.bt-menu ul li:nth-child(3) {
	margin-right: 100px;
}

.bt-menu ul li:nth-child(4) {
	margin-left: 100px;
}

.bt-menu.bt-menu-open ul li {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.bt-menu.bt-menu-open ul li:first-child{
    -webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.bt-menu.bt-menu-open ul li:last-child {
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.bt-menu.bt-menu-open ul li:nth-child(2){
    -webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.bt-menu.bt-menu-open ul li:nth-last-child(2) {
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.bt-menu.bt-menu-open ul li:nth-child(3){
    -webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.bt-menu.bt-menu-open ul li:nth-last-child(3) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.15em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:before {
	display: none;
	font-size: 32px;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
	color: #e74c3c;
    outline: 0; !important
}

@media screen and (max-width: 65.1em) {
	.bt-menu ul li a {
		font-size: 90%;
	}
}

@media screen and (max-width: 55.5em) {
	.bt-menu ul li {
		margin: 0 15px;
	}

	.bt-menu ul li a {
		font-size: 0px;
	}

	.bt-menu ul li a:before {
		display: block;
	}
}

@media screen and (max-width: 32em) {
	.bt-menu-trigger {
		width: 40px;
		margin-left: -20px;
        outline: 0;
	}

	.bt-menu ul li {
		margin: 0 2%;
	}

	.bt-menu ul li:nth-child(3) {
		margin-right: 50px;
	}

	.bt-menu ul li:nth-child(4) {
		margin-left: 50px;
	}

	.bt-menu ul li a:before {
		font-size: 24px;
	}
}

/* TEAM CODE */

div.team-member {
    vertical-align: top;
    height: 70%;
    min-height: 500px;
    width: 33%;
    min-width: 300px;
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 50px 50px;
}

img.team-member-img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3.team-member-title {
    display: block;
    text-align: center;
}

p.team-member-text {
    text-align: justify;
    display: block;
}

/* PROCESS CODE */

div.process-item {
    vertical-align: top;
    height: 70%;
    min-height: 500px;
    width: 24%;
    min-width: 300px;
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 50px 50px;
}

div.process-item-img-container {
    width: 100px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

img.process-item-img {
    width: 100px;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}

/* WORK CODE */

div.work-item-img {
    vertical-align: middle;
    height: 70%;
    min-height: 500px;
    width:30%;
    min-width: 300px;
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 50px 50px;
}

div.work-item-text {
    vertical-align: top;
    height: 70%;
    min-height: 500px;
    width: 50%;
    min-width: 300px;
    display: inline-block;
    text-align: justify;
    padding: 50px 50px;
}

div.centered {
    text-align: center;
}

.red {
    color: #e74c3c;
    display: inline-block;
}

a.nav-link:link{
   color:#e74c3c;
   text-decoration: underline;
}
a.nav-link:visited{
   color: #e74c3c;
   text-decoration: underline;
}
a.nav-link:hover{
   color:  #ffffff;
   text-decoration: underline;
}
a.nav-link:active{
   color: #e74c3c;
   text-decoration: underline;
}

a.nav-link-black:link{
   color:#ffffff;
   text-decoration: underline;
}
a.nav-link-black:visited{
   color: #ffffff;
   text-decoration: underline;
}
a.nav-link-black:hover{
   color:  #e74c3c;
   text-decoration: underline;
}
a.nav-link-black:active{
   color: #ffffff;
   text-decoration: underline;
}