@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  /*font-weight: 800;*/
  src: local('Montserrat-GG'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYMDdSZkkecOE1hvV7ZHvhyU.ttf)   format('truetype');
}

body {
    margin: 0 0;
    padding: 0 0;
	font-family: "Montserrat";
}

p {
    margin: 0 0;
}

img{
    display: inline-block;
}

div.invisiblepusher{
    width: 100%;
    height: calc(50% - 300px);
    display: block;
}

div.iconinvisiblepusher{
    width: 100%;
    height: calc(40% - 60px);
    display: block;
}

#icon {
    margin-bottom: 100;
}

div.page {
    width: 100%;
    height: 100%;
    display: block;
}

#page1{
    min-height: 100%;
}

#page2{
    min-height: 100%;
    background: #f8f8f8; 
}

#page3{
    min-height: 100%;
}

#page4{
    min-height: 100%;
    background: #f8f8f8; 
}

#page5{
    min-height: 100%;
}

#page6{
    min-height: 100%;
    background: #f8f8f8; 
}

#page7{
    min-height: 100%;
}

div.subheader {
    height: 20%;
    text-align: center;
}

.iphone {
    height: 60%;
    margin-right: 5%;
}

img.icon {
    height: 80%;
}

table {
    height: 70%;
    width: 100%;
}

tr.icons {
    height: 30%;
}

tr.text {
    height: 40%;
}

tr {
    width: 100%;
    height: inherit;
}

td.phone {
    width: 40%;
    height: inherit;
    text-align: center;
}

td.text {
    width: 60%;
    height: inherit;
    text-align: left;
    padding-right: 5%;
}

td.team {
    width: 50%;
    height: inherit;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

td.wwd {
    width: 25%;
    height: inherit;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#footer {
    text-align: center;
}

h1{
    font-size: 80px;
    text-align: center;
    margin: 0 0;
    display: inline;
    font-weight: 700;
}

h2{
    font-size: 60px;
    text-align: center;
    margin: 0 0;
    display: inline;
    font-weight: 800;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 0 0;
    display: inline;
    font-weight: 800;
}

div.centered {
    text-align: center;
}

.red {
    color: #e74c3c;
    display: inline-block;
}

a.nav-link:link{
   color:#000000;
   text-decoration: underline;
}
a.nav-link:visited{
   color: #000000;
   text-decoration: underline;
}
a.nav-link:hover{
   color:  #e74c3c;
   text-decoration: underline;
}
a.nav-link:active{
   color: #000000;
   text-decoration: underline;
}

a.nav-link-red:link{
   color:#e74c3c;
   text-decoration: underline;
}
a.nav-link-red:visited{
   color: #e74c3c;
   text-decoration: underline;
}
a.nav-link-red:hover{
   color:  #000000;
   text-decoration: underline;
}
a.nav-link-red:active{
   color: #e74c3c;
   text-decoration: underline;
}

html, body {
    height: 100%;
}