/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

body {
    margin: 0 0;
}
/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 1;
	right: 50px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 10px;
	height: 10px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 1px solid #fff;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 50%;
    height: 150%;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#deflector {
    background: #19b5fe;
    background: url(../images/deflector.png), -moz-linear-gradient(-45deg, #19b5fe 0%, #ffff00 100%);
    background: url(../images/deflector.png), -webkit-gradient(linear, left top, right bottom, color-stop(0%,#19b5fe), color-stop(100%,#ffff00));
    background: url(../images/deflector.png), -webkit-linear-gradient(-45deg, #19b5fe 0%,#ffff00 100%);
    background: url(../images/deflector.png), -o-linear-gradient(-45deg, #19b5fe 0%,#ffff00 100%);
    background: url(../images/deflector.png), -ms-linear-gradient(-45deg, #19b5fe 0%,#ffff00 100%);
    background: url(../images/deflector.png), linear-gradient(135deg, #19b5fe 0%,#ffff00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b5fe', endColorstr='#ffff00',GradientType=1 );
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed, scroll;
	background-size: auto 50%, 100% 100%;
    
}

#snappr {
    background: #555555;
    background: url(../images/snappr.png), -moz-linear-gradient(top,  #555555 0%, #000000 100%);
    background: url(../images/snappr.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#000000));
    background: url(../images/snappr.png), -webkit-linear-gradient(top,  #555555 0%,#000000 100%);
    background: url(../images/snappr.png), -o-linear-gradient(top,  #555555 0%,#000000 100%);
    background: url(../images/snappr.png), -ms-linear-gradient(top,  #555555 0%,#000000 100%);
    background: url(../images/snappr.png), linear-gradient(to bottom,  #555555 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#000000',GradientType=0 );
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed, scroll;
	background-size: auto 50%, 100% 100%;
}

#hexacolors {
    background-color: #001F3F;
	background-image: url(../images/hexacolors.png);
}

#smith {
    background: #7f0000;
    background: url(../images/smith.png), -moz-linear-gradient(45deg, #7f0000 0%, #000000 100%);
    background: url(../images/smith.png), -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7f0000), color-stop(100%,#000000));
    background: url(../images/smith.png), -webkit-linear-gradient(45deg, #7f0000 0%,#000000 100%);
    background: url(../images/smith.png), -o-linear-gradient(45deg, #7f0000 0%,#000000 100%);
    background: url(../images/smith.png), -ms-linear-gradient(45deg, #7f0000 0%,#000000 100%);
    background: url(../images/smith.png), linear-gradient(45deg, #7f0000 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f0000', endColorstr='#000000',GradientType=1 );
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed, scroll;
	background-size: auto 50%, 100% 100%;
}

#viewzik {
    background-color: #888;
	background-image: url(../images/viewzik.png);
}

#planning {
    background-color: #fff;
    background-image: url(../images/search.png);
    background-size: 200px auto;
    height: 50%;
}

#building {
    background-color: #eee;
    background-image: url(../images/atom.png);
    background-size: 200px auto;
    height: 50%;
}

#publishing {
    background-color: #fff;
    background-image: url(../images/checklist.png);
    background-size: 200px auto;
    height: 50%;
}

#marketing {
    background-color: #eee;
    background-image: url(../images/analytics.png);
    background-size: 200px auto;
    height: 50%;
}

#sebastian {
    background-color: #fff;
    background-image: url(../images/sebastian_cain_circle.png);
    background-size: 200px auto;
    height: 50%;
}

#josh {
    background-color: #eee;
    background-image: url(../images/josh_circle.png);
    background-size: 200px auto;
    height: 50%;
}

#avery {
    background-color: #fff;
    background-image: url(../images/avery.png);
    background-size: 200px auto;
    height: 50%;
}

#ryan {
    background-color: #eee;
    background-image: url(../images/ryan_circle.png);
    background-size: 200px auto;
    height: 50%;
}
